<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Geng Sng 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                  <li><a href="https://twitter.com/snggeng"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li><a href="https://www.facebook.com/sng.geng#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="https://github.com/snggeng"><i class="fa fa-github"></i></a>
                  </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="https://emberjs.com/">Built on Ember JS</a>
                    </li>
                    <li><a href="https://github.com/snggeng/ember-portfolio">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
