<!-- About Section -->
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <g>
                	<polygon fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" points="23,1 55,1 55,63 9,63 9,15 	"/>
                	<polyline fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" points="9,15 23,15 23,1 	"/>
                </g>
                <g>
                	<g>
                		<polyline fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" points="27,44 27,37 23,37 23,44 		"/>
                		<polyline fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" points="34,44 34,27 30,27 30,44 		"/>
                		<polyline fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" points="41,44 41,34 37,34 37,44 		"/>
                	</g>
                	<line fill="none" stroke="#fed136" stroke-width="2" stroke-miterlimit="10" x1="20" y1="45" x2="44" y2="45"/>
                </g>
                </svg>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>FRONTEND</h4>
                                <h4 class="subheading">Languages and Frameworks</h4>
                            </div>
                            <div class="timeline-body">
                              <p class="text-muted">Where all the magic happens</p>
                              {{#each model as |profile|}}
                                {{#each profile.skills.frontend as |frontend|}}
                                <i class="{{frontend.icon}}" style="font-size:7vw"></i>
                                {{/each}}
                              {{/each}}
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>BACKEND</h4>
                                <h4 class="subheading">Languages and Databases</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Fluent in SQL and noSQL databases</p>
                                {{#each model as |profile|}}
                                  {{#each profile.skills.backend as |backend|}}
                                  <i class="{{backend.icon}}" style="font-size:7vw"></i>
                                  {{/each}}
                                {{/each}}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>DEPLOYMENT</h4>
                                <h4 class="subheading">Bringing Ideas Into Production</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Test-driven Development</p>
                                {{#each model as |profile|}}
                                  {{#each profile.skills.deployment as |deployment|}}
                                  <i class="{{deployment.icon}}" style="font-size:7vw"></i>
                                  {{/each}}
                                {{/each}}
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <a href="#contact">
                              <i class="fa fa-lightbulb-o" style="color:white; font-size:5em"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
