{{portfolio-navbar}}
<header id="resume">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Thanks for Clicking!</div>
            <div class="intro-heading">Resume</div>
        </div>
    </div>
</header>
{{resume-skills model=model.profiles}}
{{outlet}}
